{% extends "layout.html" %}

{% block page_title %}
  Add benefits and expenses
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <p><a href="#" class="link-back">Back</a></p>

      <h1 class="heading-medium">Add benefits and expenses</h1>

      <p>You're registering to payroll the following from 6 April 2016:</p>

      <ul class="list-bullet">
        <li>Assets placed at the employee's disposal</li>
        <li>Car and car fuel</li>
      </ul>

      <p>You can only exclude employees after registering a benefit.</p>

      <details>
        <summary><span class="summary">What is an excluded employee?</span class="summary"></summary>

        <div class="panel panel-border-narrow">

        </div>
      </details>

      <div class="actions">
        <button class="button">Confirm</button>
        <a href="#">Back to overview</a>
      </div>

      <p class="support-link"><a href="#">Contact us for support using this service</a></p>

    </div>
  </div>
</main>

{% endblock %}


