{% extends "layout.html" %}
{% block page_title %}
Choose benefits and expenses
{% endblock %}
{% block content %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <p><a href="#" class="link-back">Back</a></p>
      <h1 class="heading-medium">Choose benefits and expenses</h1>

      <p>Choose which benefits and expenses you'll be taxing through your payroll from 6 April 2016.</p>

      <div class="form-group" id="list-benefits">

        <fieldset>
          <table class="benefits-table">
            <thead>
              <tr>
                <th class="benefit-or-expense">Benefit or expense</th>
                <th class="p11d-section">P11D section</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td class="less-space">
                  <input type="hidden" id="actives_2_uid" name="actives[2].uid" value="31"  />
                  <label id="label-31" class="" for="checkbox-31">
                    <span class="checkbox-indent">
                      <input type="checkbox" id="checkbox-31" name="actives[2].active"  value="true" />
                    </span>
                    Car and car fuel
                  </label>
                </td>
                <td>
                  Section F
                </td>
              </tr>

                <tr>
                  <td class="less-space">
                    <input type="hidden" id="actives_0_uid" name="actives[0].uid" value="39"  />
                    <label id="label-39" class="" for="checkbox-39">
                      <span class="checkbox-indent">
                        <input type="checkbox" id="checkbox-39" name="actives[0].active" value="true" />
                      </span>
                      Assets placed at the employee&#x27;s disposal
                    </label>
                  </td>
                  <td>
                    Section L
                  </td>
                </tr>

                <tr>
                  <td class="less-space">
                    <input type="hidden" id="actives_1_uid" name="actives[1].uid" value="40"  />
                    <label id="label-40" class="" for="checkbox-40">
                      <span class="checkbox-indent">
                        <input type="checkbox" id="checkbox-40" name="actives[1].active" value="true" />
                      </span>
                      Assets transferred (cars, property, goods or other assets)
                    </label>
                  </td>
                  <td>
                    Section A
                  </td>
                </tr>
                <tr>
                  <td class="less-space">
                    <input type="hidden" id="actives_3_uid" name="actives[3].uid" value="42"  />
                    <label id="label-42" class="" for="checkbox-42">
                      <span class="checkbox-indent">
                        <input type="checkbox" id="checkbox-42" name="actives[3].active" value="true" />
                      </span>
                      Entertainment
                    </label>
                  </td>
                  <td>
                    Section N
                  </td>
                </tr>

                <tr>
                  <td class="less-space">
                    <input type="hidden" id="actives_4_uid" name="actives[4].uid" value="37"  />
                    <label id="label-37" class="" for="checkbox-37">
                      <span class="checkbox-indent">

                      </span>
                      Interest-free and low interest loans

                      <span class="form-hint no-checkbox">This benefit isn&#x27;t currently available to register online.</span>
                    </label>
                  </td>
                  <td>
                    Section H
                  </td>
                </tr>

                <tr>
                  <td class="less-space">
                    <input type="hidden" id="actives_5_uid" name="actives[5].uid" value="38"  />
                    <label id="label-38" class="" for="checkbox-38">
                      <span class="checkbox-indent">

                      </span>
                      Living accommodation

                      <span class="form-hint no-checkbox">This benefit isn&#x27;t currently available to register online.</span>
                    </label>
                  </td>
                  <td>
                    Section D
                  </td>
                </tr>

                <tr>
                  <td class="less-space">
                    <input type="hidden" id="actives_6_uid" name="actives[6].uid" value="45"  />
                    <label id="label-45" class="" for="checkbox-45">
                      <span class="checkbox-indent">
                        <input type="checkbox" id="checkbox-45" name="actives[6].active" value="true" />
                      </span>
                      Non-qualifying relocation expenses

                    </label>
                  </td>
                  <td>
                    Section N
                  </td>
                </tr>

                <tr>
                  <td class="less-space">
                    <input type="hidden" id="actives_7_uid" name="actives[7].uid" value="47"  />
                    <label id="label-47" class="" for="checkbox-47">
                      <span class="checkbox-indent">
                        <input type="checkbox" id="checkbox-47" name="actives[7].active" value="true" />
                      </span>
                      Other items (including subscriptions and professional fees)
                      <span class="form-hint other-desc-indent">You must payroll all items you report under this section or none, except income tax paid but not deducted from director’s remuneration, which is a standalone benefit.</span>

                    </label>
                  </td>
                  <td>
                    Section M
                  </td>
                </tr>

                <tr>
                  <td class="less-space">
                    <input type="hidden" id="actives_8_uid" name="actives[8].uid" value="32"  />
                    <label id="label-32" class="" for="checkbox-32">
                      <span class="checkbox-indent">
                        <input type="checkbox" id="checkbox-32" name="actives[8].active" value="true" />
                      </span>
                      Payments for use of home telephone

                    </label>
                  </td>
                  <td>
                    Section N
                  </td>
                </tr>

                <tr>
                  <td class="less-space">
                    <input type="hidden" id="actives_9_uid" name="actives[9].uid" value="48"  />
                    <label id="label-48" class="" for="checkbox-48">
                      <span class="checkbox-indent">
                        <input type="checkbox" id="checkbox-48" name="actives[9].active" value="true" />
                      </span>
                      Payments made on behalf of employee

                    </label>
                  </td>
                  <td>
                    Section B
                  </td>
                </tr>

                <tr>
                  <td class="less-space">
                    <input type="hidden" id="actives_10_uid" name="actives[10].uid" value="50"  />
                    <label id="label-50" class="" for="checkbox-50">
                      <span class="checkbox-indent">
                        <input type="checkbox" id="checkbox-50" name="actives[10].active" value="true" />
                      </span>
                      Qualifying relocation expenses, payments and benefits

                    </label>
                  </td>
                  <td>
                    Section J
                  </td>
                </tr>

                <tr>
                  <td class="less-space">
                    <input type="hidden" id="actives_11_uid" name="actives[11].uid" value="8"  />
                    <label id="label-8" class="" for="checkbox-8">
                      <span class="checkbox-indent">
                        <input type="checkbox" id="checkbox-8" name="actives[11].active" value="true" />
                      </span>
                      Services supplied

                    </label>
                  </td>
                  <td>
                    Section K
                  </td>
                </tr>

                <tr>
                  <td class="less-space">
                    <input type="hidden" id="actives_12_uid" name="actives[12].uid" value="53"  />
                    <label id="label-53" class="" for="checkbox-53">
                      <span class="checkbox-indent">
                        <input type="checkbox" id="checkbox-53" name="actives[12].active" value="true" />
                      </span>
                      Travelling and subsistence payments

                    </label>
                  </td>
                  <td>
                    Section N
                  </td>
                </tr>

                <tr>
                  <td class="less-space">
                    <input type="hidden" id="actives_13_uid" name="actives[13].uid" value="36"  />
                    <label id="label-36" class="" for="checkbox-36">
                      <span class="checkbox-indent">
                        <input type="checkbox" id="checkbox-36" name="actives[13].active" value="true" />
                      </span>
                      Van fuel

                    </label>
                  </td>
                  <td>
                    Section G
                  </td>
                </tr>

                <tr>
                  <td class="less-space">
                    <input type="hidden" id="actives_14_uid" name="actives[14].uid" value="35"  />
                    <label id="label-35" class="" for="checkbox-35">
                      <span class="checkbox-indent">
                        <input type="checkbox" id="checkbox-35" name="actives[14].active" value="true" />
                      </span>
                      Vans

                    </label>
                  </td>
                  <td>
                    Section G
                  </td>
                </tr>

                <tr>
                  <td class="less-space">
                    <input type="hidden" id="actives_15_uid" name="actives[15].uid" value="54"  />
                    <label id="label-54" class="" for="checkbox-54">
                      <span class="checkbox-indent">

                      </span>
                      Vouchers and credit cards

                      <span class="form-hint no-checkbox">This benefit isn&#x27;t currently available to register online.</span>

                    </label>
                  </td>
                  <td>
                    Section C
                  </td>
                </tr>
              </tbody>
            </table>
          </fieldset>

          <p id="help-unavailable" class="text">For benefits that aren&#x27;t currently available to register online, use a P11D to report it instead.</p>

          <p id="help" class="text">If you supply an employee with a benefit or expense and you're unsure it's taxable or not, see <a rel="external" id="guidance-a-to-z" target="_blank" onclick="gaEventLinkAtoZGuide()" href="https://www.gov.uk/expenses-and-benefits-a-to-z">expenses and benefits: A to Z guide</a>.</p>

        <div class="actions">
          <button class="button">Continue</button>
          <a href="#">Back to overview</a>
        </div>
      </form>

    </div>
  </div>
</main>
{% endblock %}

